.row {
    margin-top: 30px;
}

.button {
    text-align: center;
}

.panel-custom > .panel-heading h4 {
    color: #262626;
}

#classes > a.col-md-3.list-group-item{
    margin-right: 2px;
}

#classes > a.list-group-item:hover {
    background-color: #d8d8d8;
}

.panel-custom > .panel-heading {
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #dcdcdc;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    margin-top: 30px;
}