.row {
    margin-top: 30px;
}

.button {
    text-align: center;
}

.panel-custom > .panel-heading h4 {
    color: #dcdcdc;
}

#classes > a.list-group-item:hover {
    background-color: #d8d8d8;
}

.panel-custom > .panel-heading {
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #333333;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 60px;
}