.panel, .panel > .panel-heading, button, input {
    border-radius: 0 !important;
    border: none !important;
}

textarea {
    border-radius: 0 !important;
    border: none !important
}

a {
    text-decoration: none !important;
}

html {
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
	background-repeat: no-repeat;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
    padding: 0;
    background-size: 100%;
    background: #43C6AC; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #43C6AC, #191654);
    background: -o-linear-gradient(right, #43C6AC, #191654);
    background: linear-gradient(to left, #43C6AC, #191654); /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

.navbar {
    background: #262626;
    border-radius: 0 !important;
    border: none !important;
}



.navbar-brand img {
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 70px;
}

.navbar-left li a{
    color: #cccccc;
    font-size: 22px;
    margin-top: 0;
}

.navbar-right li a{
    color: #cccccc;
    font-size: 22px;
    margin-top: 0;
}

.navbar-black .navbar-nav > li > a:hover,
.navbar-black .navbar-nav > li > a:focus {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .dropdown.open .dropdown-toggle {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .dropdown-menu {
    margin: 0;
    padding: 0;
}

.navbar-black .dropdown-menu > li > a,
.navbar-black .dropdown-menu > li > a {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262626;
    color: #cccccc;
}

.navbar.in > li > a{
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262626;
    color: #cccccc;
}

.navbar-black .dropdown-menu > li > a:hover,
.navbar-black .dropdown-menu > li > a:focus {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .navbar-toggle .icon-bar {
    background-color: #cccccc;
}



.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}