@import "font.css";

.panel, .panel > .panel-heading, button, input, .jumbotron, textarea, a {
    border-radius: 0 !important;
    border: none !important;
}

.list-group-item {
    border-radius: 0 !important;
    border: none !important;
    margin-bottom: 2px;
    margin-right: 2px;
}

a {
    text-decoration: none !important;
}

html {
    background-repeat: no-repeat;
    min-height: 100%;
    position: relative;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    color: #262626;
    padding: 0;
    background-size: 100%;
    background: #338db4; /* fallback for old browsers */
    background-attachment: fixed;
}

span {
    font-size: 17px;
}

.navbar {
    background: #262626;
    border-radius: 0 !important;
    border: none !important;
}

.navbar-brand {
    height: auto;
    width: auto;
    font-weight: 500;
    font-size: 30px;
    color: #338db4 !important;
}

.navbar-left li a {
    color: #cccccc;
    font-size: 22px;
    margin-top: 0;
}

.navbar-right li a {
    color: #cccccc;
    font-size: 22px;
    margin-top: 0;
}

.navbar-black .navbar-nav > li > a:hover,
.navbar-black .navbar-nav > li > a:focus {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .dropdown.open .dropdown-toggle {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .dropdown-menu {
    margin: 0;
    padding: 0;
}

.navbar-black .dropdown-menu > li > a,
.navbar-black .dropdown-menu > li > a {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262626;
    color: #cccccc;
}

.navbar.in > li > a {
    margin-top: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #262626;
    color: #cccccc;
}

.navbar-black .dropdown-menu > li > a:hover,
.navbar-black .dropdown-menu > li > a:focus {
    background-color: #000000;
    color: #e6e6e6;
}

.navbar-black .navbar-toggle .icon-bar {
    background-color: #cccccc;
}

.navbar-black .navbar-toggle {
    margin-top: 8px !important;
}

#common_avatar {
    width:20px !important;
    height:20px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    background-color: #f5f5f5;
}