@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,700,900|Open+Sans');

.navbar-brand {
    font-family: 'Fira Sans', sans-serif;
}

.dropdown-menu > li > a{
    font-family: 'Fira Sans', sans-serif;
}

.nav > li > a {
    font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Fira Sans', sans-serif;
}

p, label, input, a, textarea, button {
    font-family: 'Open Sans', sans-serif;
}