@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500|Open+Sans:200,400,700|Montserrat:500' );

.navbar-brand {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
}

.dropdown-menu > li > a {
    font-family: 'Fira Sans', sans-serif !important;
}

.nav > li > a {
    font-family: 'Fira Sans', sans-serif !important;
}

h1, h2, h3, h4{
    font-family: 'Fira Sans', sans-serif !important;
}

body, p, label, input, a, textarea, button, h5, h6  {
    font-family: 'Open Sans', sans-serif !important;
}