.row {
    margin-top: 30px;
}

.panel-custom > .panel-heading h3 {
    color: #f2f2f2;
}

.panel-custom > .panel-heading {
    padding-left: 20px;
    vertical-align: middle;
    background-color: #333333;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 60px;
}

#login-error, #register-error, .error {
	color: red;
}
