.row {
    margin-top: 30px;
}

.button {
    text-align: center;
}

.modal-content {
    border-radius: 0 !important;
    border: none !important;
}

.panel-custom > .panel-heading h3 {
    color: #f2f2f2;
}

.panel-custom > .panel-heading {
    padding-left: 20px;
    vertical-align: middle;
    background-color: #333333;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 60px;
}

.panel-custom > .panel-heading h3 {
    color: #f2f2f2;
}

textarea {
    resize: vertical;
}

#update-info, .error {
    color: red;
}