.row {
    margin-top: 30px;
}

.button {
    text-align: center;
}

button, .btn {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}

.btn {
    border-radius: 0 !important;
    border: none !important;
}

html [type="button"] {
    -webkit-appearance: none !important;
}

#memberlist > list-group-item, #grouplist > list-group-item, #classlist > list-group-item {
    background-color: #eaeaea;
}

#memberlist > a.list-group-item:hover, #grouplist > a.list-group-item:hover, #classlist > a.list-group-item:hover {
    background-color: #d8d8d8;
}

.modal-content {
    border-radius: 0 !important;
    border: none !important;
}

.panel-custom > .panel-heading h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f2f2f2;
}

.panel-custom > .panel-heading {
    padding-left: 20px;
    vertical-align: middle;
    background-color: #333333;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 60px;
}

textarea {
    resize: vertical;
}

#invite-error, #error-display, #upload-error {
    color: #ff6666;
}

.error {
    font-weight: normal;
    color: #ff6666;
}

#update-info, #message-sent, #invite-sent {
    color: #99ff99;
}

.modal-fade > .modal-content > .modal-body > .form-group > .form-control {
    border-radius: 0 !important;
    border: none !important;
}

