html {
	background-repeat: no-repeat;
}

body {
	padding: 0;
	margin: 0;
	background: #141E30; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #141E30 , #2e4a6b);
	background: linear-gradient(to top, #141E30 , #2e4a6b); 
    background-attachment: fixed;

}


a {
    text-decoration: none !important;
}

#logo {	
	font-size: 75px;
	color: yellow;
}



#header {
	height: 100px;
	background: #141E30; /* fallback for old browsers */
	background: -webkit-linear-gradient(#333333 0%,#333333 75%, #ffff33 75%,#2e4a6b 100%);
	background: linear-gradient(#333333 0%,#333333 75%, #ffff33 75%,#2e4a6b 100%);

}


