body{
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right, #334166, #004466 25%, #004466 75%, #334166);
	color: white;
}


a {
    text-decoration: none !important;
}

#logo {	
	font-size: 75px;
	color: yellow;
}



#header {
	height: 100px;
	background: linear-gradient(#333333 0%,#333333 75%, #ffff33 75%,#ffffcc 100%);

}


