a {
    text-decoration: none !important;
}

ul.navbar {
	float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

ul.navbar li {
	float: left;
	height: 75px;
}

ul.navbar li a {
 	display: inline-block;
	text-align: center;
    padding: 24px 16px;
    font-size: 25px;
	color: #8c8c8c;
}

ul.navbar li a:hover {
	 color: #f3f3f3;
	 background-color: #2a2a2a;

}


body {
	margin:0;
}

ul.navbar li.icon {
	display: none;
}

@media screen and (max-width:600px) {
  ul.navbar li:not(:last-child) {display: none;}
  ul.navbar li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:600px) {
  ul.navbar.collapse {position: relative;}
  ul.navbar.collapse li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.navbar.collapse li {
    float: none;
    display: inline;
  }
  ul.navbar.collapse li a {
    display: block;
    text-align: left;
  }
}

