.row {
    margin-top: 150px;
}



.panel-custom > .panel-heading h4 {
    color: #f2f2f2;
}

.panel-custom > .panel-heading {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    background-color: #333333;
    border-color: transparent;
}

.panel-custom > .panel-body {
    background-color: #f2f2f2;
    padding-top: 30px;
    margin-bottom: 60px;
}

